* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg, #04021d, #4c3b5a);
    height: 150vh;
    align-items: center;
    justify-content: center;
    line-height: 1.6;
}

h1 {
    padding: 1%;
    margin: 20px 800px;
    background: linear-gradient(135deg, rgb(206, 205, 205), rgb(201, 25, 54));
    text-align: center;
    border-radius: 20px;
    font-weight: bolder;
    box-shadow: 0 10px 25px rgba(248, 246, 246, 0.2);
}

main {
    padding: 50px 0 150px 0;
    margin: 50px 700px;
    text-align: center;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    font-family: 'Verdana'
}

.container-principal img {
    width: 20%;
}

.login-btn {
    width: 40%;
    display: flex;
    padding: 15px;
    margin: 10px 225px;
    text-align: center;
    border: none;
    border-radius: 8px;
    background: #6d28d9;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}